html {
   background: linear-gradient(to bottom, skyblue 0%, navy 100%);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  height: 100%;
}

h1 {
  text-align: center; 
  font-family:  "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-shadow: -1px 0 gold, 0 1px gold, 1px 0 gold, 0 -1px gold;
}

@keyframes translating {
  0% { transform: translate(0, 0); }
  25% { transform: translate(640px, 0); }
  50% { transform: translate(340px, 40px); }
  75% { transform: translate(0, 540px); }
  100% { transform: translate(0, 0); }
}

@keyframes translating2 {
  0% { transform: translate(0, 450px); }
  25% { transform: translate(60px, 0); }
  50% { transform: translate(600px, 40px); }
  75% { transform: translate(0, 300px); }
  100% { transform: translate(250px, 0); }
}

@keyframes translating3 {
  0% { transform: translate(670px, 720px); }
  25% { transform: translate(640px, 460px); }
  50% { transform: translate(340px, 40px); }
  75% { transform: translate(700px, 230px); }
  100% { transform: translate(345px, -490px); }
}

.metalface {
  animation: translating 7s linear 1s infinite;
  width: 178px;
  height: 178px;
  background-image: url('https://www.spreadshirt.com/image-server/v1/designs/1009958188,width=178,height=178/mf-doom.png');
  display: flex;
  align-items: center;
  justify-content: center;
}

.allcaps {
   animation: translating2 11s linear 1s infinite;
  width: 178px;
  height: 178px;
  background-image: url('http://t09.deviantart.net/C_fA8G8_WWIzumfPbpZMlHFwwU4=/300x200/filters:fixed_height(100,100):origin()/pre00/b9d6/th/pre/i/2008/173/4/5/mf_doom_by_thefatone8me.png');
  display: flex;
  align-items: center;
  justify-content: center;
}

.illestvillain {
   animation: translating3 5s linear 1s infinite;
  width: 256px;
  height: 256px;
  background-image: url('http://files.gamebanana.com/img/ico/sprays/53dc489253e8c.png');
  display: flex;
  align-items: center;
  justify-content: center;
}

